@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    src: url("../assets/fonts/IranYekan.woff2");
    font-family: "IranYekan";
}
:root {
    --primary: #a73f8b;
    --secondary: #f4f4f4;
    --dark-primary: #200F21;
    --dark-secondary:#382039;
}
@layer components {
    .bg-primary{
        background: var(--primary);
    }
    .bg-secondary{
        background: var(--secondary);
    }
    .bg-dark-primary{
        background: var(--dark-primary);
    }
    .bg-dark-secondary{
        background: var(--dark-secondary);
    }
    .color-primary{
        color: var(--primary);
    }
    .color-secondary{
        color: var(--secondary);
    }
    .color-dark-primary{
        color: var(--dark-primary);
    }
    .color-dark-secondary{
        color: var(--dark-secondary);
    }
    .border-primary{
        border:1px solid var(--primary);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}
body{
    direction: rtl;
    font-family: "IranYekan",sans-serif;
    font-size: 1em;
}
.btn{
    padding: 0.375rem 0.75rem;
    outline:none;
    box-shadow: none;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
    border: 1px solid var(--primary);
    background: var(--primary);
    color: var(--secondary);
    transition: ease all 300ms;
}